<aside class="main-sidebar">
  <section class="sidebar">
    <ul class="sidebar-menu">
      <li class="header">MAIN NAVIGATION</li>
      <li>
        <a href="<%= root_path %>">
          <i class="fa fa-tachometer"></i> <span>Dashboad</span>
        </a>
      </li>
      <li>
        <a href="<%= responses_path %>">
          <i class="fa fa-envelope"></i> <span>Inbox</span>
        </a>
      </li>
      <li>
        <a href="<%= followers_path %>">
          <i class="fa fa-user"></i> <span>Followers</span>
        </a>
      </li>

      <li>
        <a href="<%= campaigns_path  %>">
          <i class="fa fa-wechat"></i> <span>Campaigns</span>
          <% if current_user.pending_campaigns > 0 %>
            <small class="label pull-right bg-red">
              <%= current_user.pending_campaigns %>
            </small>
          <% end %>

        </a></li>
    </ul>
  </section>
</aside>