<div class="wrapper">
  <%= render 'shared/header.html.erb' %>
  <%= render 'shared/main_navigation.html.erb' %>
  <div class="content-wrapper">
    <section class="content-header">
      <h1>
        Puffit IM
        <small>Followers</small>
      </h1>
      <br/>
      <div class="row">
        <div class="col-xs-12">
          <div class="box">
            <div class="box-header with-border">
              <h3 class="box-title">Followers List</h3>
            </div>
            <div class="box-body">
<table id="example" class="display" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>Phone #</th>
        </tr>
    </thead>
    <tfoot>
        <th>Phone #</th>
    </tfoot>
    <tbody>
      <% @followers.each do |follower|%>
        <tr>
          <td><a href=<%= profile_path(follower) %> ><%= follower%></a></td>
        </tr>
      <%end%>
    </tbody>
</table>
            </div>
          </div>
        </div>
      </div>    
  </section>
  </div>
  <%= render 'shared/footer.html.erb' %>
</div>

<script>
  $(document).ready(function() {
    $('#example').DataTable({});
  });
</script>