<div class="wrapper">
  <%= render 'shared/header.html.erb' %>
  <%= render 'shared/main_navigation.html.erb' %>
  <div class="content-wrapper">

    <section class="content-header">
      <h1>
        Messages
      </h1>
    </section>

    <section class="content">
      <div class="row">
        <div class="col-xs-12">
          <div class="box" style="padding:20px;">
            <div class="box-header">
              <h3 class="box-title"></h3>
              <div class="box-tools">
              </div>
            </div>
            <br/>
            <div class="box-body table-responsive no-padding">
              <table id="messages" class="table table-hover">
                <thead>
                  <tr>
                    <th>Phone Number</th>
                    <th>Last Message</th>
                    <th>Recived Time</th>
                  </tr>
                </thead>
                <tbody>
                  <% @responses.each do |response|%>
                  <tr>
                    <td><%= response.phone_number %></td>
                    <td><%= response.message %></td>
                    <td><%= response.created_at.localtime.to_s %></td>
                  </tr>
                  <% end %>


              </tbody></table>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  <%= render 'shared/footer.html.erb' %>
</div>

<script>
  $(document).ready(function() {
    $('#messages').DataTable({"order": [[ 0, "desc" ]], destroy: true });
  });
</script>