<div class="login-box">
  <div class="login-logo">
    <a href=<%= root_path %> ><b>PUFFIT</b> IM</a>
  </div><!-- /.login-logo -->
  <div class="login-box-body">
    <p class="login-box-msg">Sign in to start your session</p>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

      <div class="form-group has-feedback">

        <%= f.text_field :login, :class => "form-control", autofocus: true, :placeholder => "Email or Username" %>
        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
      </div>
      <div class="form-group has-feedback">

        <%= f.password_field :password, :class => "form-control", autocomplete: "off", :placeholder => "Password" %>
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
      </div>
      <div class="row">
        <div class="col-xs-8">
          <div class="checkbox icheck">
            <label>
              <%= f.check_box :remember_me %> Remember Me
            </label>
          </div>
        </div><!-- /.col -->
        <div class="col-xs-4">
          <button type="submit" class="btn btn-primary btn-block btn-flat">Sign In</button>
        </div><!-- /.col -->
      </div>
    <% end %>

<%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
  <%= link_to "Forgot your password?", new_password_path(resource_name) %><br />
<% end -%>


  </div><!-- /.login-box-body -->
</div><!-- /.login-box -->

<script>
  $(function () {
    $("body").removeClass("skin-blue").removeClass("sidebar-mini").addClass("login-page");
    $('input').iCheck({
      checkboxClass: 'icheckbox_square-blue',
      radioClass: 'iradio_square-blue',
      increaseArea: '20%' // optional
    });
  });
</script>