<div class="wrapper">
  <%= render 'shared/header.html.erb' %>
  <%= render 'shared/main_navigation.html.erb' %>
  <div class="content-wrapper">

    <section class="content-header">
      <h1>
        Campaigns
      </h1>
    </section>

    <section class="content">
      <div class="row">
        <div class="col-xs-12">
          <div class="box" style="padding:20px;">
            <div class="box-header">
              <h3 class="box-title"></h3>
              <div class="box-tools">
                <div class="input-group" style="width: 150px;">
                  <a class="btn btn-primary" href=<%= new_campaign_path %> >Create New Campaign</a>
                </div>
              </div>
            </div>
            <br/>
            <div class="box-body table-responsive no-padding">
              <table id="campaigns" class="table table-hover">
                <thead>
                  <tr>
                    <th>Campaing ID</th>
                    <th>Campaign Name</th>
                    <th>Start Time</th>
                    <th>End Time</th>
                    <th>Status</th>
                    <th>Delivery Report</th>
                  </tr>
                </thead>
                <tfoot>
                  <tr>
                    <th>Campaing ID</th>
                    <th>Campaign Name</th>
                    <th>Start Time</th>
                    <th>End Time</th>
                    <th>Status</th>
                    <th>Delivery Report</th>
                  </tr>
                </tfoot>
                <tbody>
                  <% @campaigns.each do |campaign|%>
                  <tr>
                    <td><%= campaign.id %></td>
                    <td><%= campaign.name %></td>
                    <td><%= campaign.created_at %></td>
                    <td><%= campaign.end_time %></td>
                    <td>
                      <% if campaign.status %>
                        <span class="label label-success">Completed</span>
                      <% else %>
                        <span class="label label-danger">Pending</span>
                      <% end %>
                    </td>
                    <td>
                      <a href="<%= campaign_delivery_report_index_path(campaign.id)%>"><i class="fa fa-file"></i></a>
                    </td>
                  </tr>
                  <% end %>


              </tbody></table>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  <%= render 'shared/footer.html.erb' %>
</div>

<script>
  $(document).ready(function() {
    $('#campaigns').DataTable({"order": [[ 0, "desc" ]], destroy: true });
  });
  console.log("Hello World");

</script>