<div class="wrapper">
  <%= render 'shared/header.html.erb' %>
  <%= render 'shared/main_navigation.html.erb' %>
  <div class="content-wrapper">

    <section class="content-header">
      <h1>
        Campaigns
      </h1>
    </section>

    <section class="content">
      <div class="row">
        <div class="col-xs-12">
          <div class="box" style="padding:20px;">
            <div class="box-header">
              <h3 class="box-title">
              </h3>
              <div class="box-tools">
                <div class="input-group" style="width: 150px;">
                  <a class="btn btn-primary" href=<%= new_campaign_path %> >Create New Campaign</a>
                </div>
              </div>
            </div>
            <br/>
            <div class="box-body table-responsive no-padding">
              <table id="campaigns" class="table table-bordered table-hover" data-source="<%= campaigns_path(format: "json") %>">
                <thead>
                  <tr>
                    <th>Campaing ID</th>
                    <th>Campaign Name</th>
                    <th>Start Time</th>
                    <th>End Time</th>
                    <th>Status</th>
                  </tr>
                </thead>

                <tbody>
                </tbody>

              </table>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  <%= render 'shared/footer.html.erb' %>
</div>

<script>
  $(document).ready(function() {
    $('#campaigns').DataTable({
      sPaginationType: "full_numbers",
      bJQueryUI: true,
      bProcessing: true,
      bServerSide: true,
      sAjaxSource: $('#campaigns').data('source'),
      destroy: true ,
      paging: true,
      lengthChange: false,
      searching: false,
      ordering: true,
      info: true,
      autoWidth: false

      });
  });
  console.log("Hello World");

</script>