<div class="wrapper">
  <%= render 'shared/header.html.erb' %>
  <%= render 'shared/main_navigation.html.erb' %>
  <div class="content-wrapper">

    <section class="content-header">
      <h1>
        New Campaign
      </h1>
    </section>

    <section class="content">
      <div class="row">
        <div class="col-xs-12">
          <div class="box" style="padding:20px;">
            <div class="box-header">
            </div>
            <br/>
            <div class="box-body table-responsive no-padding">
              <div class="col-md-6 col-xs-offset-3">

                <%= form_tag(campaigns_path, :method=>'post', :multipart => true) do %>

                  <form role="form">
                    <div class="box-body">
                      <div class="form-group">
                        <%= text_field_tag "campaign[name]", "", class: 'form-control', placeholder: "Campaign Name", required:true %>
                      </div>
                    </div>

                    <div class="box-body">
                      <div class="form-group">

                       <%= select_tag("campaign[type]", 
                            options_for_select([['Text ', '1'],
                                     ['Image ', '2']]) {} , {prompt: "Select Campaign Type", :class => 'form-control', required:true }) %>

                      </div>
                    </div>

                    <div class="box-body" id="text">
                      <div class="form-group">

                       <%= text_area_tag 'campaign[text]', nil, class: 'form-control',placeholder: "Campaign Text"  %>
                      </div>
                    </div>


                    <div class="box-body" id="image">
                      <div class="form-group">
                        <label for="file">Upload Image</label> <%= file_field_tag "campaign[avatar]", accept: "image/*" %>
                      </div>
                    </div>

                    <button type="submit" class="btn btn-primary pull-right">Submit</button>

                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  <%= render 'shared/footer.html.erb' %>
</div>

<script>
  $(document).ready(function() {

    $('#example').DataTable({});
    $("#text").css("display", "none");
    $("#image").css("display", "none");

    $( "#campaign_type" ).change(function() {

      if($("#campaign_type").val() == 1) {
        $("#text").css("display", "block");
        $("#image").css("display", "none");

        $("#campaign_text").prop("required", "true");
        $("#campaign_avatar").removeProp("required", "false");

      }
      else if ($("#campaign_type").val() == 2) {
        $("#image").css("display", "block");
        $("#text").css("display", "none");

        $("#campaign_text").removeProp("required", "false");
        $("#campaign_avatar").prop("required", "true");
      }
      else {

        $("#text").css("display", "none");
        $("#image").css("display", "none");

        $("#campaign_text").removeProp("required", "false");
        $("#campaign_avatar").removeProp("required", "false");
      }

    });

  });
</script>