<div class="wrapper">
  <%= render 'shared/header.html.erb' %>
  <%= render 'shared/main_navigation.html.erb' %>
  <div class="content-wrapper">

    <section class="content-header">
      <h1>
        Delivery Reports
      </h1>
    </section>

    <section class="content">
      <div class="row">
        <div class="col-xs-12">
          <div class="box" style="padding:20px;">
            <div class="box-header">
              <h3 class="box-title"></h3>
              <div class="box-tools">
              </div>
            </div>
            <br/>
            <div class="box-body table-responsive no-padding">
              <table id="example" class="table table-hover">
                <thead>
                  <tr>
                    <th>Phone #</th>
                    <th>Delivery Time</th>
                    <th>Status</th>
                  </tr>
                </thead>
                <tfoot>
                  <tr>
                    <th>Phone #</th>
                    <th>Delivery Time</th>
                    <th>Status</th>
                  </tr>
                </tfoot>
                <tbody>
                  <% @delivery_reports.each do |delivery_report|%>
                  <tr>
                    <td><%= delivery_report.phone_number %></td>
                    <td><%= delivery_report.created_at %></td>
                    <td>
                      <% if delivery_report.status %>
                        <span class="label label-success">Sent</span>
                      <% else %>
                        <span class="label label-danger">Pending</span>
                      <% end %>
                    </td>
                  </tr>
                  <% end %>


              </tbody></table>
            </div>
          </div>
        </div>
      </div>

    </section>
  </div>
  <%= render 'shared/footer.html.erb' %>
</div>

<script>
  $(document).ready(function() {
    $('#example').DataTable();
  });
</script>