<div class="wrapper">
  <%= render 'shared/header.html.erb' %>
  <%= render 'shared/main_navigation.html.erb' %>
  <div class="content-wrapper">

    <section class="content-header">
      <h1>
        Delivery Reports
      </h1>
    </section>

    <section class="content">
      <div class="row">
        <div class="col-xs-12">
          <div class="box" style="padding:20px;">
            <div class="box-header">
              <h3 class="box-title">
                <%= @campaign.name %>
              </h3>
              <div class="box-tools">
              </div>
            </div>
            <br/>
            <div class="box-body table-responsive no-padding">
              <table id="example" class="table table-bordered table-hover" data-source="<%= campaign_delivery_report_index_path(@campaign,format: "json") %>">
                <thead>
                  <tr>
                    <th>Phone #</th>
                    <th>Delivery Time</th>
                    <th>Status</th>
                  </tr>
                </thead>
                <tbody>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>

    </section>
  </div>
  <%= render 'shared/footer.html.erb' %>
</div>

<script>
  $(document).ready(function() {
  $(function () {
    var table = $('#example').DataTable({
      "paging": true,
      "lengthChange": true,
      "searching": true,
      "ordering": true,
      "info": true,
      "autoWidth": true,
      "sAjaxSource": $('#example').data('source'),
      "sPaginationType": "full_numbers",
      "bProcessing": true,
      "bServerSide": true
    });
  });
  });
</script>